<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
<body>
  <h1>Nice. It's looking good already.</h1>
{{ range (where .Site.RegularPages "Section" "blog") }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <small>{{ .Date.Format "2006-01-02" }}</small><br/>
    {{ $format := "2006-01-02 15:04:05 -0700"}}
    {{ with .Date  }}
       <small>STRING: {{ string . }}</small><br/>
       <small>NOW: {{ now.Format $format }}</small><br/>
       <small>DATE: {{ .Format $format }}</small><br/>
       <small>UTC: {{ .UTC.Format $format }}</small><br/>
       <small>Local: {{ .Local.Format $format }}</small><br/>
    {{ end }}
    <p>{{ .Params.description }}</p>
  </li>
{{ else }}
  <li>No blog posts found.</li>
{{ end }}

  </ul>
</body>
</html>
