<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
<body>
  <h1>Nice. It's looking good already.</h1>
{{ range (where .Site.RegularPages "Section" "blog") }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <small>{{ .Date.Format "2006-01-02" }}</small><br/>
    <p>{{ .Params.description }}</p>
  </li>
{{ else }}
  <li>No blog posts found.</li>
{{ end }}

  </ul>
</body>
</html>
